{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ room_details.name }}</title>
    <link rel="stylesheet" href="{% static 'css/room.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favcon/favcon.png' %}" type="image/x-icon">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</head>
<body>
    

    <div class="div-form-header">
        <form action="return_main_page" class="form-room-button">
            <button type="submit"><img src="{% static 'images/icons/left-arrow.png' %}" alt="Exit Room"></button>
        </form>    
        
        <h1>Sala: {{ room_name }} </h1>

        <form action="delete_room" class="form-room-button">
            <button type="submit"><img src="{% static 'images/icons/delete.png' %}" alt="Delete Room"></button>
        </form>
    </div>
    

    <script>
        $(document).ready(function () {
            function formatDate(isoDateStr) {
                const date = new Date(isoDateStr);
                return date.toLocaleString('pt-BR', {
                    day: '2-digit',
                    month: '2-digit',
                    hour: '2-digit',
                    minute: '2-digit',
                    hour12: false
                });
            }

            function getMessages() {
                $.ajax({
                    type: 'GET',
                    url: 'get_messages/{{ room_details.id }}',
                    success: function (response) {
                        $("#div-messages").empty();

                        const messages = Object.values(response.room_messages).reverse();

                        messages.forEach((message) => {
                            const formated_date = formatDate(message.date);
                            const message_string = `
                                <div class="div-message">
                                    <div class="div-message-info">
                                        <p class="p-user">${message.user}</p>
                                        <p class="p-date">${formated_date}</p>
                                    </div>
                                    
                                    <p class="p-value">${message.value}</p>
                                </div>
                            `;
                            $('#div-messages').append(message_string);
                        });
                    },
                    error: function () {
                        alert('An error occurred');
                    }
                });
            }

            getMessages()

            setInterval(getMessages, 2000);
        });
    </script>

    <div id="div-messages">
    </div>

    <form id="post_form">
        <p>{{ username }}</p>
        {% csrf_token %}
        <input id="username" type="hidden" name="username" value="{{ username }}">
        <input id="room_id" type="hidden" name="room_id" value="{{ room_details.id }}">
        <input id="message" type="text" name="message">

        <button type="submit" value="Send"><img src="{% static 'images/icons/send.png' %}" alt="Send Message"></button>
    </form>
</body>

<script>
    $(document).on('submit', '#post_form', function(e){
        e.preventDefault();

        $.ajax({
            type:'POST',
            url:'/send',
            data:{
                room_id:$('#room_id').val(),
                username:$('#username').val(),
                message:$('#message').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            }
        });
        
        document.getElementById('message').value = '';
    });
</script>

</html>