{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <form action="checkview" onsubmit="saveUsername()" method="post">
        {% csrf_token %}
        <label>Room Name</label>
        <input type="text" name="room_name">

        <br>

        <label>Username</label>
        <input id="input_username" class="input_username" type="text" name="username">

        <br>
        
        <button type="submit">Enter Room</button>
    </form>

    <script>
        $(document).ready(function () {
            function updateAvailableRooms() {
                $.ajax({
                    type: 'GET',
                    url: 'get_available_rooms',
                    success: function (response) {
                        $('#div-available-rooms').empty();

                        const rooms = Object.values(response.available_rooms);

                        rooms.forEach((room) => {
                            const room_string = `
                                <form onsubmit="saveUsername(); changeHiddenInput()" action="checkview" method="post" class="room-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="room_name" value="${room.name}">

                                    <input class="input_username input_hidden_username" type="hidden" name="username" value="Anonymous">

                                    <button type="submit"><p>${room.name}</p></button>
                                </form>
                            `;
                            $('#div-available-rooms').append(room_string);
                        });
                    }
                });
            }
            setInterval(updateAvailableRooms, 1000);
        });
    </script>


    <div id="div-available-rooms" class="div-available-rooms">
        <label>Salas Disponíveis:</label>

        {% for room in available_rooms %}
            <form onsubmit="saveUsername(); changeHiddenInput()" action="checkview" method="post" class="room-form">
                {% csrf_token %}
                <input type="hidden" name="room_name" value="{{ room.name }}">

                <input class="input_username input_hidden_username" type="hidden" name="username" value="Anonymous">

                <button type="submit"><p>{{ room.name }}</p></button>
            </form>
        {% endfor %}
    </div>
</body>

<script>
    function saveUsername() {
        const username = document.getElementById('input_username').value || 'Anonymous';
        localStorage.setItem('username', username);
    }

    function loadUsername() {
        const saved_username = localStorage.getItem('username') || '';
        //document.getElementById('input_username').value = saved_username;
        const all_inputs = document.querySelectorAll('.input_username');

        all_inputs.forEach((input) => {
            input.value = saved_username;
        })
    }

    function changeHiddenInput() {
        all_inputs = document.querySelectorAll('.input_hidden_username');

        all_inputs.forEach((input) => {
            input.value = localStorage.getItem('username');
        })
    }

    loadUsername()
</script>

</html>