{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'room.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Room: {{ room_name }} </h1>

    <form id="post_form">
        {% csrf_token %}
        <input id="username" type="hidden" name="username" value="{{ username }}">
        <input id="room_id" type="hidden" name="room_id" value="{{room_details.id}}">
        <input id="message" type="text" name="message">

        <button type="submit" value="Send">Send Message</button>
    </form>

    <script type="text/javascript">
        $(document).ready(function(){
            setInterval(function(){
                $.ajax({
                    type: 'GET',
                    url: 'get_messages/{{ room_details.id }}',
                    success: function(response) {
                        $("#div-messages").empty();

                        // Transforma os valores em array e inverte
                        const messages = Object.values(response.room_messages).reverse();

                        messages.forEach((message) => {
                            const temp = `
                                <div class="div-message">
                                    ${message.user}
                                    ${message.value}
                                    ${message.date}
                                </div>
                            `;
                            $("#div-messages").append(temp);
                        });
                    },

                    error: function() {
                        alert('An error ocurred')
                    }
                });}, 500);
        });
    </script>

    <div id="div-messages">
        {% for message in room_messages %}
            <h2>{{ message.user }}</h2>
            <p>{{ message.date }}</p>
            <p>{{ message.value }}</p>
        {% endfor %}
    </div>
</body>

<script type="text/javascript">
    $(document).on('submit', '#post_form', function(e){
        e.preventDefault();

        $.ajax({
            type:'POST',
            url:'/send',
            data:{
                room_id:$('#room_id').val(),
                username:$('#username').val(),
                message:$('#message').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            }
        });
        
        document.getElementById('message').value = '';
    });
</script>

</html>